In [1]:
import pandas as pd

l=[1,2,3,4,5]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [7]:
d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
print(var1)

   a   s
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [12]:
data = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15],"t":[11, 12, 13, 14, 15],"u":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(data, columns =["a","s"])
print(var1)

   a   s
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [17]:
d2 = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var3 = pd.DataFrame(d2)
print(var3["a"][2])

3

In [19]:
list1 = [[1,2,3,4,5],[11, 12, 13, 14, 15]]
va = pd.DataFrame(list1)
print(va)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [2]:
sr = {"s":pd.Series([1,2,3,4,5]),"p":pd.Series([11,12,13,14,15])}
val = pd.DataFrame(sr)
print(val)

   s   p
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

# Arithmetic operations

In [3]:
c
d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] + var1["s"]
print(var1)

   a   s   c
0  1  11  12
1  2  12  14
2  3  13  16
3  4  14  18
4  5  15  20

In [5]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] - var1["s"]
print(var1)

   a   s   c
0  1  11 -10
1  2  12 -10
2  3  13 -10
3  4  14 -10
4  5  15 -10

In [7]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] * var1["s"]
print(var1)

   a   s   c
0  1  11  11
1  2  12  24
2  3  13  39
3  4  14  56
4  5  15  75

In [10]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] / var1["s"]
print(var1)

   a   s         c
0  1  11  0.090909
1  2  12  0.166667
2  3  13  0.230769
3  4  14  0.285714
4  5  15  0.333333

In [13]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] > var1["s"]
print(var1)

   a   s      c
0  1  11  False
1  2  12  False
2  3  13  False
3  4  14  False
4  5  15  False

In [22]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["c"] = var1["a"] < var1["s"]
print(var1)

   a   s     c
0  1  11  True
1  2  12  True
2  3  13  True
3  4  14  True
4  5  15  True

In [20]:

d = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
var1 = pd.DataFrame(d)
var1["Python"] = var1["a"] <= 3 
print(var1)

   a   s  Python
0  1  11    True
1  2  12    True
2  3  13    True
3  4  14   False
4  5  15   False

In [21]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# Insert Operation

In [36]:
import pandas as pd
da = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
value = pd.DataFrame(da)
value.insert(2,"A1",[21,22,23,24,25])
value.insert(0, "col0", pd.Series([51, 52, 53, 54, 55], index=[0,1,2,3,4]))
print(value)

   col0  a   s  A1
0    51  1  11  21
1    52  2  12  22
2    53  3  13  23
3    54  4  14  24
4    55  5  15  25

In [42]:
da = {"a":[1,2,3,4,5],"s":[11, 12, 13, 14, 15]}
value = pd.DataFrame(da)
value["Copy"] = value["a"][:3]
value

   a   s  Copy
0  1  11   1.0
1  2  12   2.0
2  3  13   3.0
3  4  14   NaN
4  5  15   NaN

# Delete

In [48]:
#varr = value.pop("Copy")
varr

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
Name: Copy, dtype: float64

In [49]:
value

   a   s
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [53]:
del value["a"]
value

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]